[Desktop Entry]
Type=Application
Name=DJI Osmo 360 Player
Comment=Riproduci video DJI Osmo 360 (.OSV) con accelerazione GPU e proiezione 360°
Exec=dji-play-360 %f
Icon=mpv
Terminal=true
MimeType=video/x-osv;video/osv;
Categories=AudioVideo;Player;
NoDisplay=false
